CONFIG_SNTP_TIME_SERVER="time.windows.com"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_MONITOR_BAUD=115200

CONFIG_ESPTOOLPY_FLASHMODE_QOUT=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_FATFS_LFN_HEAP=y


CONFIG_LWIP_TCP_SND_BUF_DEFAULT=20440
CONFIG_LWIP_TCP_WND_DEFAULT=14600
CONFIG_LWIP_TCP_RECVMBOX_SIZE=16

CONFIG_LWIP_MAX_UDP_PCBS=16
CONFIG_LWIP_UDP_RECVMBOX_SIZE=16

CONFIG_ESP_MAXIMUM_RETRY=200
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_LWIP_TCP_MSS=1460
CONFIG_TCP_MSS=1460
CONFIG_LWIP_SNTP_UPDATE_DELAY=86400000
CONFIG_FLASHMODE_QOUT=y

CONFIG_ESP_WIFI_NVS_ENABLED=n
CONFIG_OPTIMIZATION_LEVEL_DEBUG=n
CONFIG_COMPILER_OPTIMIZATION_LEVEL_DEBUG=n
CONFIG_COMPILER_OPTIMIZATION_DEFAULT=n
CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE=n
CONFIG_ESP32_PHY_CALIBRATION_AND_DATA_STORAGE=n